    <!-- ***** Verify ***** -->
    <div class="container">
      <div class="row">
          <div class="col center-content">
              <div class="main-box mx-auto">
                  <div class="row">
                      <div class="col-12 mt-2 text-center">
                          <div class="logo-bg mb-5">
                              <h1>RG</h1>
                          </div>
                      </div>
                      <div class="col-12 mt-3">
                          <h2 class="page-title mb-4 pb-2">mobile verification</h2>
                          <div class="row">
                              <div class="col-5">
                                  <div class="form-group">
                                      <input type="tel" [(ngModel)]="code" readonly id="mobile-number" class="form-control custom-in-control">
                                  </div>
                              </div>
                              <div class="col-7 pl-0">
                                  <div class="form-group">
                                      <input type="number" [(ngModel)]="mobileNumber" class="form-control custom-in-control" placeholder="ENTER MOBILE"
                                          id="mobile">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 text-center pt-3 mt-5">
                          <button type="button" [disabled]="!mobileNumber" (click)="submitMobile()" class="btn w-100 btn-login-app" data-toggle="modal" data-target="#otpModal">verify
                              mobile</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ***** End Verify ***** -->


  <!-- START : The Modal -->
  <div class="modal" id="otpModal">
      <div class="modal-dialog otp-modal-center">
          <div class="modal-content">
              <!-- Modal body -->
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12 text-center">
                          <h2 class="otp-motal-title">enter code</h2>
                      </div>
                      <div class="col">
                          <input type="text" [(ngModel)]="otp1" maxlength="1" tabindex="1" class="form-control otp-custom-control" id="otp1">
                      </div>
                      <div class="col">
                          <input type="text" [(ngModel)]="otp2" maxlength="1" tabindex="2" class="form-control otp-custom-control" id="otp2">
                      </div>
                      <div class="col">
                          <input type="text" [(ngModel)]="otp3" maxlength="1" tabindex="3" class="form-control otp-custom-control" id="otp3">
                      </div>
                      <div class="col">
                          <input type="text" [(ngModel)]="otp4" maxlength="1" tabindex="4" class="form-control otp-custom-control" id="otp4">
                      </div>
                  </div>
              </div>
              <button type="button" class="btn btn btn-confirm-otp" (click)="confirmNumber()" >confirm</button>
          </div>
      </div>
  </div>
  <!-- END : The Modal -->

