<!-- ***** Login ***** -->
<div class="container">
  <div class="row">
    <div class="col center-content">
      <div class="main-box mx-auto">
        <div class="row">
          <div class="col-12 mt-2 text-center">
            <div class="logo-bg mb-4">
              <h1>RG</h1>
            </div>
          </div>

          <div class="col-12">
            <div class="register-box">
              <h6 class="title">client personal details</h6>
              <div class="form-group">
                <input type="text" class="form-control custom-in-control" placeholder="CLIENT NAME" id="name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control custom-in-control" placeholder="CLIENT ADDRESS" id="address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control custom-in-control" placeholder="CLIENT PHONE" id="mobile">
              </div>
              <div class="form-group">
                <input type="text" class="form-control custom-in-control" placeholder="CLIENT EMAIL" id="email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control custom-in-control" placeholder="PROFILE PHOTO" id="profile">
              </div>
              <div class="form-group">
                <input type="password" class="form-control custom-in-control" placeholder="CHOOSE PASSWORD" id="password">
              </div>

              <div class="accordion cst-accordian" id="accordionExample">
                <div class="card">
                  <div class="card-header p-0" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link title" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Client business details
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body px-0">
                      <div class="form-group">
                        <input type="text" class="form-control custom-in-control" placeholder="COMPANY NAME" id="name">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control custom-in-control" placeholder="COMPANY ADDRESS" id="address">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control custom-in-control" placeholder="COMPANY PHONE" id="mobile">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control custom-in-control" placeholder="COMPANY EMAIL" id="email">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control custom-in-control" placeholder="COMPANY LOGO" id="logo">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control custom-in-control" placeholder="INDUSTRY" id="industry">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-center pt-2 mt-4">
            <button type="button" class="btn w-100 btn-login-app">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** End Login ***** -->
