	<!-- ***** : Register ***** -->
	<div class="container">
		<div class="row">
			<div class="col center-content">
				<div class="main-box mx-auto">
					<div class="row">
						<div class="col-12 mt-3 text-center">
							<div class="logo-bg">
								<h1>RG</h1>
							</div>
						</div>
						<div class="col-12">
							<h2 class="page-title">Client App</h2>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-6 pr-2">
							<button type="button" class="btn w-100 btn-login-app">Login</button>
						</div>
						<div class="col-6 pl-2">
							<button type="button" class="btn w-100 btn-login-app">register</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** End : Register ***** -->

